<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>


<div class="container">
  <div class="row">

    <!--部分テンプレート化！-->
    <%= render 'layouts/profile_bookpost', user: @user, book: @book %>


    <!--投稿一覧自分のと他者の！！-->
    <div class="col-md-8 offset-md-1">
      <div class="mt-3">
        <h2>Books</h2>
      </div>

      <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>

      <% @books.each do |book| %>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(book.id) do %>
              <%= image_tag book.user.get_profile_image(100, 100) %>
            <% end %>
          </td>
          <!--以下本のタイトルからbook詳細ページbook_pathに遷移-->
          <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
          </td>

          <td><%= book.body %></td>
        </tr>
      <% end %>
      </tbody>

    </table>
    </div>

  </div>
</div>