<div><%= flash[:notice] %></div>
<!--ログアウト成功時のフラメ-->

<div class="container">

  <div class="mt-3">
    <h2>Log in</h2>
  </div>

  <%= form_with model: @user, url: user_session_path do |f| %>

  　<!--以下追記-->
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

　<!--以下email登録フォーム削除-->


  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions btn btn-primary btn-sm">
    <%= f.submit "Log in", class: "bg-primary text-white border border-primary" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>


</div>